<form id="form" action="/signup" method="POST" enctype="multipart/form-data">
  <input type="text" name="username" placeholder="Nome de usuário">
    <br>
  <input type="password" name="password" placeholder="Digite uma senha">
    <br>
  <input type="text" name="name" placeholder="Seu nome">
    <br>
  <input type="text" name="lastName" placeholder="Seu sobrenome">
    <br>
  <label for="photo">Carregue uma foto de perfil</label> <br>
  <input type="file" name="photo">
    <br> <br>
  <button type="submit">Criar conta</button>
</form>

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}