<form id="form" action="/vend-signup" method="POST">
  <label for="name">Nome da vendinha</label>
  <input type="text" name="name">
    <br>
  <label for="name">Adicione uma descrição</label>
  <input type="textarea" name="description">
    <br>

  <label for="categories">Categorias de produtos</label>
  <input type="checkbox" name="cat1" value="Café"> Café<br>
  <input type="checkbox" name="cat2" value="Doces"> Doces<br>
  <input type="checkbox" name="cat3" value="Salgados"> Salgados<br>
  <input type="checkbox" name="cat4" value="Pipoca"> Pipoca<br>
  <input type="checkbox" name="cat5" value="Frutas"> Frutas<br>

  <p>Endereço</p>
  <p>Localização</p>
  <input id="latitude" type="text" name="lat">
  <input id="longitude" type="text" name="long">
  <input id="streetAddress" type="address" name="streetAddress">
    <br>
  <label for="times">Horário de funcionamento</label>
  <input type="time" name="startTime">
  <input type="time" name="endTime">
    <br><br>


  <button type="submit">Adicionar vendinha</button>
</form>