<div class="mt-4 d-flex flex-column align-items-center">
  <div class="filtros align-self-start mb-3">
    <h5>Filtros</h5>
    <input type="radio" id="horario-on" name="horario" value="on" checked>
    <label for="horario">Abertos agora</label>
    <input type="radio" id="horario-off" name="horario" value="off">
    <label for="horario">Todos</label>
  </div>
  
  <div id="map" style="height:100vh; width:100%;"></div>
</div>
