<div class="filtros">
  <h4>Filtros</h4>
  <input type="radio" id="horario-on" name="horario" value="on" checked>
  <label for="horario">Abertos agora</label>
  <input type="radio" id="horario-off" name="horario" value="off">
  <label for="horario">Todos</label>
</div>

<div id="map" style="height:65vh; width:90%;"></div>
