

<section id="section-1">
  <div class="jumbotron text-center s1-text">
    <div class="row my-4">
      <div class="col-6 pr-3 text-right">
        <h1 id="text-change">Café?</h1>
      </div>
      <div class="col-6 text-left">
        <h1>No caminho tem.</h1>
      </div>
    </div>
    <a class="btn btn-primary btn-lg mb-3" href="/app">Acessar o mapa</a>
    <h3 class="my-4">Conheça a variedade de vendas independentes na sua região,<br>seja para um café <i>on-the-go</i> ou para um docinho especial.</h3>
  </div>
</section>

<section id="section-2">
<div class="container text-center">
<h3>Coloque-se no mapa</h3>
  <div class="row justify-content-md-center feature d-flex text-center">
    <figure class="col-4">
      <img src="" alt="Feature 1">
    </figure>
    <div class="col-4">
      <p>Em cinco minutos, sua vendinha já pode estar disponível no mapa. Em tempo real, os usuários podem ver se está aberta e ir ao seu encontro. Além da clientela de sempre, seus novos clientes só precisam saber que você está lá.</p>
    </div>
  </div>
  <div class="row justify-content-md-center feature d-flex text-center">
    <div class="col-4">
      <p></p>
    </div>
    <figure class="col-4">
      <img src="" alt="Feature 2">
    </figure>
  </div>
  <a href="/seller-signup">Faça seu cadastro agora!</a>
  <h5>Para devs (remover)</h5>
  <a href="/vendas">Todas as vendas</a>
</div>
</section>

<footer>

</footer>