

<section id="section-1">
  <div class="jumbotron text-center">
    <h1>Comer nunca foi tão fácil</h1>
    <h3>Bláb lá blá bláblá</h3>
    <a class="btn btn-primary btn-lg" href="/app">Acessar</a>
  </div>
</section>

<section id="section-2">
<div class="container text-center">
<h2>Vá de encontro ao seu cliente</h2>
  <div class="feature d-flex text-center">
    <figure>
      <img src="" alt="Feature 1">
    </figure>
    <p>Descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição</p>
  </div>
    <div class="feature d-flex text-center">
    <p>Descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição descrição</p>
    <figure>
      <img src="" alt="Feature 2">
    </figure>
  </div>
  <a href="/seller-signup">Faça seu cadastro agora!</a>
  <h5>Para devs (remover)</h5>
  <a href="/vendas">Todas as vendas</a>
</div>
</section>