<a href="/app">Acessar aplicação</a><br><br>

<a href="/signup">Criar conta</a><br>
<a href="/login">Login</a><br><br>

<a href="/vend-signup">Cadastrar vendinha</a><br>
<a href="/logout">Logout</a><br>

<h4>Acesso para devs</h4>
<a href="/vendas">Todas as vendas</a>