<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Nrr3Ohx4RW9I-T-U2e_n6-3ufKidqko&callback=geocodeInit"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/geocode.js"></script>
  <script src="/javascripts/script.js"></script>
  </body>
</html>
