body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profile-picture-small {
  width: 150px;
}

.profile-picture-medium {
  width: 200px;
}

.card {
  border: 1px solid black;
}

.windowpic {
  height: 100px;
}

.details-picture {
  height: 200px;
}