body {
  padding: 50px 50px 0 50px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #FEF2E4;
}

a {
  color: #00B7FF;
}

.col-6 {
  padding: 0 5px;
}

.profile-picture-small {
  width: 150px;
}

.profile-picture-medium {
  width: 200px;
}

.navbar {
  background-color: #DD7373;
}

.nav-link {
  font-weight: bold;
}

.windowpic {
  height: 100px;
}

.details-picture {
  height: 150px;
}

.backdrop {
  background-color: bisque;
  height: 100%;
  min-height: 94vh;
}

.venda-name {
  font-family: 'Bitter', serif;
  font-weight: 600;
  color: #269ECC;
}

.filtros {
  background-color: #FDEBD4;
  padding: 10px 20px;
  border-radius: 10px;
}

.filtros > label {
  margin-right: 10px;
}

.infoWindow > p {
  font-size: large;
}

.window-link {
  padding: 10px 5px;
  font-size: larger;
  font-weight: bold;
  text-align: right;
}

.page-title {
  font-family: 'Bitter', serif;
  font-weight: 600;
  color: #11465B !important; 
}

.s1-text > h1 {
  font-family: 'Bitter', serif;
  font-weight: 600;
  color: #269ECC; 
}

/* //TODO fazer backdrop preencher a altura toda da tela */